<mat-accordion class="example-headers-align" >
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    *ngFor="let survey of filterdSurveys"
  >
    <mat-expansion-panel-header (click)="showStatistics()">
      <mat-panel-title>
        <b>{{ survey.Title | uppercase }}</b>
      </mat-panel-title>
      <mat-panel-description>
        {{ survey.Date | date: "medium" }}
        <div class="icons">
              <mat-slide-toggle class="available" click-stop-propagation [checked]="survey.IsAvailable" (change)="shareForm(survey)"></mat-slide-toggle>

          <button class="edit" click-stop-propagation (click)="editForm()">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete">
            <mat-icon color="warn" click-stop-propagation (click)="deleteSurvey(survey)"
              >delete</mat-icon
            >
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-form-statistics *ngIf="!isEditForm; else elseBlock" [survey]="survey"></app-form-statistics>
    <ng-template #elseBlock>
      <app-form-edit [survey]="survey"></app-form-edit>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
