<!-- Header -->
<div class="relative bg-blue-700 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="MÉDIAS"
            statTitle="350,897"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis le mois dernier"
            statIconName="fas fa-photo-video"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="NOUVEAUX COLLABORATEURS"
            statTitle="53"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis le mois dernier"
            statIconName="fas fa-users"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="ÉVÉNEMENTS"
            statTitle="100"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Depuis l'année dernière"
            statIconName="fas fa-calendar-plus"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="VOTES"
            statTitle="89%"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis hier"
            statIconName="fas fa-vote-yea"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
