<!-- Header -->
<svg class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,160L48,165.3C96,171,192,181,288,202.7C384,224,480,256,576,250.7C672,245,768,203,864,202.7C960,203,1056,245,1152,261.3C1248,277,1344,267,1392,261.3L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
<div class="relative  md:pt-16 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4" data-aos="zoom-in" data-aos-duration="2000">
          <app-card-stats
            statSubtitle="MÉDIAS"
            statTextColor="text-blue-500"
            statTitle="350,897"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis le mois dernier"
            statIconName="fas fa-photo-video"
            statIconColor="bg-blue-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 text-blue-600" data-aos="zoom-in" data-aos-duration="2000">
          <app-card-stats
            statSubtitle="NOUVEAUX COLLABS"
            statTitle="53"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis le mois dernier"
            statIconName="fas fa-users"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4" data-aos="zoom-in" data-aos-duration="2000">
          <app-card-stats
            statSubtitle="ÉVÉNEMENTS"
            statTitle="100"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Depuis l'année dernière"
            statIconName="fas fa-calendar-plus"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="50">
          <app-card-stats
            statSubtitle="VOTES"
            statTitle="89%"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-500"
            statDescripiron="Depuis hier"
            statIconName="fas fa-vote-yea"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
