<div
  class="relative flex flex-col min-w-0 break-words  w-full mb-6 shadow-2 rounded-lg mt-16" data-aos="fade-in" data-aos-duration="3000"
>
  <div class="px-6 bg-blue-200 rounded-2xl ">
    <div class="flex flex-wrap justify-center ">
      <div class="w-full px-4 flex justify-center">
        <div class="relative">
          <img
            alt="..."
            src="https://randomuser.me/api/portraits/men/71.jpg"
            class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"
          />
        </div>
      </div>
      <div class="w-full px-4 text-center mt-10">
      </div>
    </div>
    <div class="text-center mt-12">
      <h3
        class="text-xl font-semibold leading-normal mb-2 text-black mb-2"
      >
        {{valueService.admin.firstname}} {{valueService.admin.lastname}}
      </h3>
      <div
        class="text-sm leading-normal mt-0 mb-2 text-black font-bold uppercase"
      >
        <i class="fas fa-map-marker-alt mr-2 text-lg text-white" style="color: #0099FF"></i>
        {{valueService.admin.country}}
      </div>
      <div class="mb-2 text-black mt-10">
        <i class="fas fa-briefcase mr-2 text-lg text-white" style="color: #0099FF"></i>
        {{valueService.admin.position}}
      </div>
      <div class="mb-2 text-black">
        <i class="fas fa-university mr-2 text-lg text-white" style="color: #0099FF"></i>
        norsys Marrakech
      </div>
    </div>
  </div>
</div>
