<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
>
  <div class="px-6">
    <div class="flex flex-wrap justify-center">
      <div class="w-full px-4 flex justify-center">
        <div class="relative">
          <img
            alt="..."
            src="https://img.freepik.com/free-vector/game-dices-night-bright-advertisement-element-gambling-concept-neon-sign_1262-13452.jpg?t=st=1658838974~exp=1658839574~hmac=300c6493f360c7306e696ebddad3e9b62fef872faabcc7d837c296cf4d431fbc&w=826"
            class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"
          />
        </div>
      </div>
      <div class="w-full px-4 text-center mt-10">
      </div>
    </div>
    <div class="text-center mt-12">
      <h3
        class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
      >
           {{collaborator?.name}}
      </h3>
      <div
        class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"
      >
        <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
        {{collaborator?.country}}
      </div>
      <div class="mb-2 text-blueGray-600 mt-10">
        <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>
        {{collaborator?.type}}
      </div>
      <div class="mb-2 text-blueGray-600">
        <i class="fas fa-dollar-sign mr-2 text-lg text-blueGray-400"></i>
        {{collaborator?.budget}}
      </div>
    </div>
  </div>
</div>
