<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <img src="https://www.norsys.fr/sites/all/themes/custom/norsys/logo.png?v=2" width="70" height="90" class="d-inline-block align-top" alt="" style="margin-right: 10px" >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
        href="#pablo"
      >
        Norsys Activity
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center"
      [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning"
    >

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">

        <li class="flex items-center">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.norsys.fr/qui-sommes-nous"
          >
            <i
              class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            A propos de nous
          </a>
        </li>
        <li class="flex items-center">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.facebook.com/norsys.easymakers/"
            target="_blank"
          >
            <i class="text-blueGray-400 fab fa-facebook text-lg leading-lg"></i>
            <span class="lg:hidden inline-block ml-2">facebook</span>
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://twitter.com/norsys."
            target="_blank"
          >
            <i class="text-blueGray-400 fab fa-twitter text-lg leading-lg"></i>
            <span class="lg:hidden inline-block ml-2">Tweet</span>
          </a>
        </li>

        <li class="flex items-center">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.instagram.com/norsysgroup/"
            target="_blank"
          >
            <i class="text-blueGray-400 fab fa-instagram text-lg leading-lg"></i>
            <span class="lg:hidden inline-block ml-2">Instagram</span>
          </a>
        </li>

        <li class="flex items-center">
          <button
            class="bg-blue-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
            [routerLink]="['/auth/login']"
          >
            <i class="fas fa-user-circle" style="margin-right: 1px"></i> se connecter
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
