<div class="flex flex-wrap text-gray-500">
  <div
    class="block p-6 w-full m-8 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Description
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      {{ survey.Description }}
    </p>
    <ng-container *ngIf="survey.Url">
      <p class="font-normal text-gray-700 dark:text-gray-400">
        <b>consultez notre lien</b> 
        <a [href]="survey.Url" target="_blank" class="text-blue-500"> {{
          survey.Url
        }}</a>
      </p>
    </ng-container>
  </div>
  <div
    class="w-full xl:w-full mb-12 xl:mb-0 px-4"
    *ngFor="let question of survey.Question"
  >
    <app-pie-form-chart [question]="question"></app-pie-form-chart>
  </div>
</div>
