<div class="flex h-screen flex-wrap mt-14">
  <div class="flex flex-col space-y-4 w-full mb-12 px-4 mt-14">
    <div class="flex space-x-2">
      <i class="fas fa-list-ul cursor-pointer" [ngClass]="listView ? '':'text-blueGray-400'" (click)="toggleToListView()"></i>
      <i class="fas fa-th cursor-pointer" [ngClass]="cardView ? '':'text-blueGray-400'" (click)="toggleToCardView()"></i>
    </div>
    <div class="">
      <app-card-table-activities
        [hidden]="cardView"
        [activities]="valueService.activities"
      ></app-card-table-activities>
      <app-card-activities
        [hidden]="listView"
        [activities]="valueService.activities"
      ></app-card-activities>
    </div>
  </div>
</div>
